<div class="pagination hidden" role="pagination">
  {{#if prev}}
  <a class="newer-posts" href="{{page_url prev}}">&#171;</a>{{/if}}<span class="page-number">{{page}} of {{pages}}</span>{{#if next}}
  <a class="older-posts" href="{{page_url next}}">&#187;</a>{{/if}}
</div>
