<div id="index">
  <div class="row text-center hidden" id="title">
    <div class="small-10 small-offset-1 columns">
      <h1>
        The Working Pair
      </h1>
    </div>
  </div>
  <div class="hidden" id="names">
    <div class="row text-center">
      <div class="small-10 small-offset-1 medium-6 medium-offset-3 columns">
        {{!< default }}{{#foreach posts}}
        <h3 class="name">
          <a href="{{{ url }}}">{{ title }}</a>
        </h3>
        {{/foreach}}
      </div>
    </div>
  </div>
</div>
