<div id="index">
  <div id="left">
    <div class="hidden" id="title">
      <h1>
        The Working Pair
      </h1>
    </div>
    <div class="hidden" id="names">
      {{!< default }}{{#foreach posts}}
      <h2 class="name">
        <a href="{{{ url }}}">{{ title }}</a>
      </h2>
      {{/foreach}}
    </div>
  </div>
  <div class="medium-12 large-9 large-offset-3 columns" id="image"></div>
</div>
