<div id="post">
  {{!< default }}{{> nav }}{{#post}}
  <article class="hidden" itemscope="" itemtype="//schema.org/Article" role="article">
    <header>
      <div id="begin"></div>
    </header>
    <section itemprop="articleBody">
      <h1 itemprop="headline">
        {{ title }}
      </h1>
      {{ content }}
    </section>
    <div id="fin"></div>
  </article>
  {{/post}}
</div>
{{> footer}}
