<div id="post">
  {{!< default }}{{> nav }}{{#post}}
  <article class="hidden" itemscope="" itemtype="//schema.org/Article" role="article">
    <header class="text-center">
      <h1 itemprop="headline">
        {{ title }}
      </h1>
    </header>
    <section itemprop="articleBody">
      {{ content }}
    </section>
    <footer></footer>
  </article>
  {{/post}}
</div>
