$standard-bumper: 0.9375rem;

$orange: #fe8540;
$black: #444444;
$gray: #f5f5f5;

$hover-transition: 200ms;
$short-transition: 300ms;
$mid-transition: 600ms;
$long-transition: 1000ms;

$nav-height: 60px;