nav {
  width: 100%;
  top: 0px;
  height: $nav-height;
  position: fixed;
  margin: 0px;
  z-index: 1;

  .back {
    margin-top: 15px;
    margin-left: 25px;
    width: 70px;
    height: 50px;
    background: url(../images/back-button.png) no-repeat center center/cover;
    display: block;
  }

  &.headroom {
    transition: transform 200ms linear;
  }

  &.headroom--pinned {
    transform: translateY(0%);
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
  }
}