.pagination {
  @include transition(opacity $long-transition ease-in-out $long-transition);

  padding-top: 20px;
  padding-left: 25px;
  @extend %LydianMTStd;
  color: $black;

  .older-posts {
    padding-left: 10px;
    text-decoration: underline;
    &:hover {
      text-decoration: line-through;
    }
  }

  .newer-posts {
    padding-right: 10px;
    text-decoration: underline;
    &:hover {
      text-decoration: line-through;
    }
  }
}